@model OnlineShop.Domain.Entites.ShoppingDetails

@{ 
    ViewBag.Title = "Mój skpel - kończenie";
}

<h2>Dane kontaktowe</h2>
<p>Uzupełnij poniższy formularz</p>
@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    <div class="form-group">
        <label>Imie:</label>
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>E-mail:</label>
        @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <h3>Adres:</h3>
        <label>Linja 1:</label>
        @Html.TextBoxFor(x => x.Line1, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Linja 2:</label>
        @Html.TextBoxFor(x => x.Line2, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Linja 3:</label>
        @Html.TextBoxFor(x => x.Line3, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Miasto:</label>
        @Html.TextBoxFor(x => x.City, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Województwo:</label>
        @Html.TextBoxFor(x => x.State, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Kod pocztowy:</label>
        @Html.TextBoxFor(x => x.Zip, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Kraj:</label>
        @Html.TextBoxFor(x => x.Country, new { @class = "form-control" })
    </div>
    <div class="checkbox">
        <label>
            @Html.EditorFor(x => x.GifWrap)
            Zapakować jako prezent
        </label>
    </div>
    <div class="text-center">
        <input class="btn btn-primary" type="submit" value="Zakończ" />
    </div>
}